<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.history.mapper.PersonMapper">

    <resultMap id="BaseResultMap" type="com.history.model.entity.Person">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="given_name" property="givenName"/>
        <result column="courtesy_name" property="courtesyName"/>
        <result column="art_name" property="artName"/>
        <result column="posthumous_name" property="posthumousName"/>
        <result column="temple_name" property="templeName"/>
        <result column="dynasty_id" property="dynastyId"/>
        <result column="birth_year" property="birthYear"/>
        <result column="death_year" property="deathYear"/>
        <result column="summary" property="summary"/>
        <result column="achievements" property="achievements"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="selectByDynastyId" resultMap="BaseResultMap">
        SELECT * FROM person WHERE dynasty_id = #{dynastyId} ORDER BY birth_year ASC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM person WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM person ORDER BY dynasty_id ASC, birth_year ASC
    </select>

</mapper>
